<!DOCTYPE html>
<html>
  #parse("gv_config.vm")
  #set($treeviewName="statistics")
  #set($treeviewMenuName="statisticsList")
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>数据统计</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css?css_version=${css_version}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/lib/font-awesome.min.css?css_version=${css_version}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/css/lib/ionicons.min.css?css_version=${css_version}">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/lib/AdminLTE.min.css?css_version=${css_version}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/css/lib/_all-skins.min.css?css_version=${css_version}">

  <link rel="stylesheet" href="/css/console/source-data-list.css?css_version=${css_version}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
##  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!--页头-->
  #parse("page/console/header.vm")

    <!-- 左边栏 -->
  #parse("page/console/sidebar.vm")

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        数据统计
        <small>推广数据</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">数据统计</a></li>
        <li class="active">推广数据</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box-header">
                <div class="col-xs-8">
                    开始时间: <input id="start-date" type="text" class="date" placeholder="请选择日期" value="$!{startTime}">&#x3000;
                    结束时间: <input id="over-date" type="text" class="date" placeholder="请选择日期" value="$!{endTime}">&#x3000;
                    渠道编号: <input id="source" type="text" placeholder="请输入渠道编号" value="$!{source}">&#x3000;&#x3000;&#x3000;
                    <button type="button" class="btn btn-primary search ">查询</button>&#x3000;
                    <button type="button" class="btn btn-primary export-list">导出</button>
                </div>
                <div style="float:right">
                    <span>注册量：$!{totalRegister}</span>
                </div>
        </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>渠道</th>
                  <th>PV</th>
                  <th>UV</th>
                    <th>注册量</th>
                    <th>时间</th>
                </tr>
                #foreach($listSourceDataVO in ${listSourceDataVOList})
                    <tr>
                        <td class="vertical-middle">$!{listSourceDataVO.source}</td>
                        <td class="vertical-middle">$!{listSourceDataVO.pv}</td>
                        <td class="vertical-middle">$!{listSourceDataVO.uv}</td>
                        <td class="vertical-middle">$!{listSourceDataVO.register}</td>
                        <td class="vertical-middle">$!{listSourceDataVO.createTime}</td>
                    </tr>
                #end
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
##              #pager($currentPage, $pageCount, "/user/list_page")
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

    <!--页脚-->
  #parse("page/console/footer.vm")

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!--公共脚本-->
#parse("page/console/common-script.vm")
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/lib/jquery.min.js?js_version=${js_version}"></script>
<script src="/js/console/source-data-list.js?js_version=${js_version}"></script>
<script src="/js/lib/moment.min.js?js_version=${js_version}"></script>
<script src="/js/lib/moment.zh-cn.js?js_version=${js_version}"></script>
<script src="/js/lib/ion.calendar.min.js?js_version=${js_version}"></script>
</html>
<script>
    $(function () {
        $('.date').each(function () {
            $(this).ionDatePicker({
                lang: 'zh-cn',
                format: 'YYYY-MM-DD'
            });
        });
    });
</script>

