<!DOCTYPE html>
<html>
    #parse("gv_config.vm")
<head>
    <title>注册简速贷运营后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/css/console/web-register.css?css_version=${css_version}" rel="stylesheet" media="screen">
</head>
<body class="register-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="#"></a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="register-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>注册简速贷运营后台</h6>
                        <span class="input-tip">请输入邮箱</span>
                        <input class="form-control email" type="text" placeholder="E-mail address">
                        <span class="input-tip">请输入密码</span>
                        <input class="form-control password" type="password" placeholder="Password">
                        <span class="input-tip">确认密码</span>
                        <input class="form-control confirm-password" type="password" placeholder="Password">
                        <span class="input-tip">昵称</span>
                        <input class="form-control nick" type="text" placeholder="nick">
                        <div class="action">
                            <button class="btn btn-primary signup" data-url="/register">注册</button>
                            <a class="go-to-login" href="/login_page">使用已有账户登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/lib/jquery.min.js?js_version=${js_version}"></script>
<script src="/js/console/web-register.js?js_version=${js_version}"></script>
</body>
</html>